:host {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
}

.checkout-container {
  background-color: var(--main-bg);
}

.items-container {
  padding-left: 1.75rem;
}

.up-arrow {
  border: 4px solid transparent;
  border-bottom-color: inherit;
}

.down-arrow {
  border: 4px solid transparent;
  border-top-color: inherit;
}

.sort-container {
  height: 36px;
}
