<div
  class="checkout-container h-full grid grid-rows-auto-1fr max-w-400px w-full"
>
  <header class="flex items-center p-8">
    <div class="mr-auto">總結：{{ total }} {{ additionalLabel }}</div>
    <button appAutoFocus class="icon-button" (click)="closeDialog()">X</button>
  </header>
  <ol
    class="items-container p-16 overflow-auto scrollbar-color grid gap-8 content-start"
  >
    <li *ngIf="mainProduct">
      <div class="flex justify-between items-center">
        <span>{{ mainProduct.label }}</span>

        <span>時價</span>
      </div>
    </li>
    <li *ngFor="let item of selectedItems">
      <div class="flex justify-between items-center">
        <span>{{ item.label }} ({{ item.tag }})</span>

        <span>{{ item.value }}</span>
      </div>
    </li>
  </ol>
</div>
