<div
  class="checkout-container h-full grid grid-rows-auto-auto-1fr max-w-400px w-full"
>
  <header class="flex items-center p-8">
    <div class="mr-auto">總結：{{ total }} {{ additionalLabel }}</div>
    <button appAutoFocus class="icon-button" (click)="closeDialog()">X</button>
  </header>
  <div class="px-16 flex gap-8 items-center whitespace-nowrap overflow-hidden">
    <span>排序：</span>
    <div class="sort-container overflow-hidden">
      <div class="flex gap-4 overflow-auto">
        <button
          class="basic-button flex gap-4"
          [class.selected]="sortType === 'choice'"
          (click)="changeSort('choice')"
        >
          勾選順序
          <div class="grid gap-2">
            <span
              class="up-arrow"
              [class.opacity-0]="sortType === 'choice' && sort === 'asc'"
            ></span>
            <span
              class="down-arrow"
              [class.opacity-0]="sortType === 'choice' && sort === 'desc'"
            ></span>
          </div>
        </button>
        <button
          class="basic-button flex gap-4"
          [class.selected]="sortType === 'name'"
          (click)="changeSort('name')"
        >
          品項名
          <div class="grid gap-2">
            <span
              class="up-arrow"
              [class.opacity-0]="sortType === 'name' && sort === 'asc'"
            ></span>
            <span
              class="down-arrow"
              [class.opacity-0]="sortType === 'name' && sort === 'desc'"
            ></span>
          </div>
        </button>
        <button
          class="basic-button flex gap-4"
          [class.selected]="sortType === 'price'"
          (click)="changeSort('price')"
        >
          價格
          <div class="grid gap-2">
            <span
              class="up-arrow"
              [class.opacity-0]="sortType === 'price' && sort === 'asc'"
            ></span>
            <span
              class="down-arrow"
              [class.opacity-0]="sortType === 'price' && sort === 'desc'"
            ></span>
          </div>
        </button>
      </div>
    </div>
  </div>
  <ol
    class="items-container p-16 overflow-auto scrollbar-color grid gap-8 content-start"
  >
    <li *ngIf="mainProduct">
      <div class="flex justify-between items-center">
        <span>{{ mainProduct.label }}</span>

        <span>時價</span>
      </div>
    </li>
    <li *ngFor="let item of selectedItemsMap[sortKey]">
      <div class="flex justify-between items-center">
        <span>{{ item.label }} ({{ item.tag }})</span>

        <span>{{ item.value }}</span>
      </div>
    </li>
  </ol>
</div>
