<header class="header grid grid-cols-40px-1fr-40px p-8 items-center">
  <button
    #sidenavOpenButton
    class="icon-button"
    [ariaExpanded]="navExpanded"
    aria-controls="side-navigation"
    (click)="openNav(navEl, menuCloseButton)"
  >
    <app-icon svgIcon="menu"></app-icon>
    <span class="visually-hidden">Open sidenav</span>
  </button>
  <h1 class="text-center">鵝香鵝肉店</h1>
  <button class="icon-button" (click)="openCheckout()">
    <app-icon svgIcon="shopping-cart"></app-icon>
  </button>
</header>

<main class="scrollbar-color overflow-auto relative">
  <router-outlet></router-outlet>
</main>

<section
  #navEl
  class="side-navigation fixed inset-0 hidden content-strict z-10"
  id="side-navigation"
>
  <div
    class="nav-backdrop w-full h-full transition-opacity"
    (click)="closeNav(navEl, sidenavOpenButton)"
  ></div>
  <div
    class="nav-container absolute top-0 left-0 h-full p-8 transition-transform"
  >
    <button
      #menuCloseButton
      class="icon-button absolute left-full mis-8"
      [ariaExpanded]="navExpanded"
      aria-controls="primary-navigation"
      (click)="closeNav(navEl, sidenavOpenButton)"
    >
      <app-icon svgIcon="menu-open"></app-icon>
      <span class="visually-hidden">Close sidenav</span>
    </button>
    <nav class="h-full relative">
      <div class="flex gap-8 mb-8">
        <button class="icon-button" (click)="toggleTheme()">
          <app-icon svgIcon="brightness-medium"></app-icon>
        </button>
        <div class="ml-auto">
          <button
            class="basic-button"
            [class.selected]="fontSize === 16"
            (click)="changeFontSize(16)"
          >
            小
          </button>
          <button
            class="basic-button"
            [class.selected]="fontSize === 20"
            (click)="changeFontSize(20)"
          >
            中
          </button>
          <button
            class="basic-button"
            [class.selected]="fontSize === 24"
            (click)="changeFontSize(24)"
          >
            大
          </button>
        </div>
      </div>

      <ul aria-label="Primary" role="list" class="nav-list grid gap-4">
        <li>
          <a
            class="nav-link basic-button w-full gap-8"
            routerLink="menu"
            routerLinkActive="selected"
            (click)="closeNav(navEl, sidenavOpenButton)"
            ><app-icon svgIcon="fact-check"></app-icon>菜單</a
          >
        </li>
        <li>
          <a
            class="nav-link basic-button w-full gap-8"
            routerLink="menu-collection"
            routerLinkActive="selected"
            (click)="closeNav(navEl, sidenavOpenButton)"
            ><app-icon svgIcon="playlist-add-check-circle"></app-icon
            >精選組合</a
          >
        </li>
      </ul>
      <div class="information sticky flex items-center gap-4">
        <app-icon svgIcon="info"></app-icon>
        <span class="info">
          <div>此程式僅提供預覽菜單功能</div>
          <div>，無與店家訂餐系統連動。</div>
        </span>
      </div>
    </nav>
  </div>
</section>

<div
  *ngIf="loadModuleIndicator$ | async"
  class="loading-indicator fixed top-0 w-full"
></div>
