@font-face {
  font-family: "Noto_Sans_TC";
  font-weight: 400;
  src: url("../font/notosanstc-regular-shrink-webfont.woff2") format("woff2"),
    url("../font//notosanstc-regular-shrink-webfont.woff") format(("woff"));
}
