@font-face {
  font-family: "Noto_Sans_TC";
  font-weight: 400;
  src: url("../font/NotoSansTC-Regular-shrink-1.woff2") format("woff2"),
    url("../font//NotoSansTC-Regular-shrink-1.woff") format(("woff"));
}
